# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/

# Model files (IMPORTANT - do not upload ML models)
model/
*.pkl

# Data files (optional - if large)
data/*.csv

# Environment variables
.env

# Logs
*.log

# Mac system files
.DS_Store

# VS Code
.vscode/